/* home styles */

#homeContainer {
	padding-top: 4.4rem;
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	min-height: 100vh;
	background-color: rgb(247, 248, 253);
}

#deleteSelected {
	display: grid;
	place-items: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	width: 15rem;
	height: 2.3rem;
	margin-top: 0.5rem;
	border: blue 0.15rem solid;
	background-color: white;
	color: gray;
	font-size: 1rem;
	font-weight: bold;
	transition: 0.5s;
}

#deleteSelected:hover {
	cursor: pointer;
	background-color: #b4caff;
	color: white;
}

/* links styles */

#links {
	display: flex;
	justify-content: center;
	align-items: center;
}

#links > a {
	padding: 2rem 1.2rem 0rem;
	text-decoration: unset;
	color: black;
	transition: 0.3s;
}

#links > a:hover {
	color: #8598c4;
}

#selected {
	border-bottom: solid black 0.2rem;
}
