/* event detial page styles */

#eventDetailContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 6rem 15% 0rem;
}

#eventDetailContainer > h1 {
	margin: 0rem auto;
}

#eventDetailContainer > a {
	all: unset;
	float: left;
	color: white;
	background-color: black;
	margin-top: 1rem;
	outline: black solid 0.15rem;
	border-radius: 0.1rem;
	padding: 0.2rem 1rem;
	font-size: 1.05rem;
	font-weight: bold;
	transition: 0.5s;
	margin-right: auto;
}

#eventDetailContainer > a:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

#detailsCon {
	display: flex;
	flex-direction: column;
	min-height: 18rem;
	min-width: 100%;
	outline: solid gray 0.15rem;
	border-radius: 0.5rem;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0.3rem;
}

#detailComp {
	margin: 1.8rem 0rem 0.5rem;
	padding: 0.7rem 1.2rem 1rem;
	outline: solid black 0.1rem;
	border-radius: 0.5rem;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	line-height: 2.5rem;
}

.detailTime {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}

.detailTime > span {
	font-weight: bolder;
	font-size: 0.95rem;
	padding: 0.2rem 0.5rem;
}

#detailDescription {
	margin: 1.8rem 0rem;
	padding: 1.5rem 1.2rem 1rem;
	outline: solid black 0.1rem;
	border-radius: 0.5rem;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

#detailDescription > h3 {
	font-size: 1.2rem;
	font-weight: 500;
	padding-bottom: 0.5rem;
}

#detailDescription > p {
	font-size: 0.95rem;
	padding-bottom: 1.5rem;
}
