/* event component and list styles */

/* eventList styles */

#eventListContainer {
	padding: 0rem 2rem 1rem;
}

/* eventCompontent styles */

.componentContainer {
	margin: 1.5rem 0rem;
	padding: 0.5rem 0.5rem;
	outline: solid black 0.15rem;
	border-radius: 0.5rem;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.componentContainer > h2 {
	border-radius: 0.5rem;
	padding: 0.5rem 0.5rem 1rem;
}

.componentContainer > div > a {
	color: rgb(27, 27, 27);
}

.componentContainer > div > a > h2 {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.componentContainer > div > a:hover {
	color: rgb(73, 73, 73);
}

.componentContainer > div > p {
	padding-bottom: 1rem;
}

/* button styles */
.componentContainer > button {
	margin: 0.1rem 0.5rem;
	height: 1.8rem;
	width: 8rem;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 0.3rem;
	background-color: white;
	color: #7220cf;
	border: #7220cf solid 0.15rem;
	transition: 0.5s;
}

.componentContainer > button:hover {
	cursor: pointer;
	background-color: #7220cf;
	border: #7220cf solid 0.15rem;
	color: white;
}

.cancleButton {
	width: 10rem;
}

/* checkbox styles */

.checkbox {
	float: right;
	margin-right: 1rem;
	margin-top: 0.5rem;
	height: 1.1rem;
	width: 1.1rem;
}
